
#calendar{
    padding-top: 60px;
}
.responsiveCal {
 
position: relative; padding-bottom: 50%; height: 0; overflow: hidden;

}

.primary{
	border-color:white;
}
a{
	color:white;
}
a:hover,
a:focus {
    color: white;
}
#pictures{
	max-width: 800px;
    margin-left:auto;
    margin-right: auto;
    
}

#mediaInfo{
    padding-bottom:40px;
}
.responsiveCal iframe { /*https://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */

position: absolute; top:0; left: 0; width: 100%; height: 100%;
} 