#contact{
     padding-top: 0px;
}
h2{
	padding-top:20px;
	padding-bottom:20px
}
#calendar{
    padding-bottom: 0px;
    padding-top: 40px;
}
.responsiveCal {
 
position: relative; padding-bottom: 50%; height: 0; overflow: hidden;

}
 
.responsiveCal iframe { /*https://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */

position: absolute; top:0; left: 0; width: 100%; height: 100%;
} 